.slideUp {
  animation-duration: 1s;
  animation-name: slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}